--
-- PostgreSQL database dump
--

\restrict fn3H3wwFq7YXWOCRORxTYJ5D3wWXt53JLEjg8aUn1xQru5ZUugAUhRCnhLHFsdc

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DeviceMessage; Type: TYPE; Schema: public; Owner: midas
--

CREATE TYPE public."DeviceMessage" AS ENUM (
    'ios',
    'android',
    'web',
    'unknown',
    'desktop'
);


ALTER TYPE public."DeviceMessage" OWNER TO midas;

--
-- Name: DifyBotType; Type: TYPE; Schema: public; Owner: midas
--

CREATE TYPE public."DifyBotType" AS ENUM (
    'chatBot',
    'textGenerator',
    'agent',
    'workflow'
);


ALTER TYPE public."DifyBotType" OWNER TO midas;

--
-- Name: InstanceConnectionStatus; Type: TYPE; Schema: public; Owner: midas
--

CREATE TYPE public."InstanceConnectionStatus" AS ENUM (
    'open',
    'close',
    'connecting'
);


ALTER TYPE public."InstanceConnectionStatus" OWNER TO midas;

--
-- Name: OpenaiBotType; Type: TYPE; Schema: public; Owner: midas
--

CREATE TYPE public."OpenaiBotType" AS ENUM (
    'assistant',
    'chatCompletion'
);


ALTER TYPE public."OpenaiBotType" OWNER TO midas;

--
-- Name: SessionStatus; Type: TYPE; Schema: public; Owner: midas
--

CREATE TYPE public."SessionStatus" AS ENUM (
    'opened',
    'closed',
    'paused'
);


ALTER TYPE public."SessionStatus" OWNER TO midas;

--
-- Name: TriggerOperator; Type: TYPE; Schema: public; Owner: midas
--

CREATE TYPE public."TriggerOperator" AS ENUM (
    'contains',
    'equals',
    'startsWith',
    'endsWith',
    'regex'
);


ALTER TYPE public."TriggerOperator" OWNER TO midas;

--
-- Name: TriggerType; Type: TYPE; Schema: public; Owner: midas
--

CREATE TYPE public."TriggerType" AS ENUM (
    'all',
    'keyword',
    'none',
    'advanced'
);


ALTER TYPE public."TriggerType" OWNER TO midas;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: mensajes; Type: TABLE; Schema: public; Owner: midas
--

CREATE TABLE public.mensajes (
    id integer NOT NULL,
    mensaje_formateado text NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now() NOT NULL,
    remitente text NOT NULL,
    asunto text NOT NULL,
    cuerpo text NOT NULL
);


ALTER TABLE public.mensajes OWNER TO midas;

--
-- Name: mensajes_enviados; Type: TABLE; Schema: public; Owner: midas
--

CREATE TABLE public.mensajes_enviados (
    id integer NOT NULL,
    mensaje_id integer NOT NULL,
    user_id integer NOT NULL,
    fecha_envio timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.mensajes_enviados OWNER TO midas;

--
-- Name: mensajes_enviados_id_seq; Type: SEQUENCE; Schema: public; Owner: midas
--

CREATE SEQUENCE public.mensajes_enviados_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mensajes_enviados_id_seq OWNER TO midas;

--
-- Name: mensajes_enviados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: midas
--

ALTER SEQUENCE public.mensajes_enviados_id_seq OWNED BY public.mensajes_enviados.id;


--
-- Name: mensajes_id_seq; Type: SEQUENCE; Schema: public; Owner: midas
--

CREATE SEQUENCE public.mensajes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mensajes_id_seq OWNER TO midas;

--
-- Name: mensajes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: midas
--

ALTER SEQUENCE public.mensajes_id_seq OWNED BY public.mensajes.id;


--
-- Name: n8n_chat_histories; Type: TABLE; Schema: public; Owner: midas
--

CREATE TABLE public.n8n_chat_histories (
    id integer NOT NULL,
    session_id character varying(255) NOT NULL,
    message jsonb NOT NULL
);


ALTER TABLE public.n8n_chat_histories OWNER TO midas;

--
-- Name: n8n_chat_histories_id_seq; Type: SEQUENCE; Schema: public; Owner: midas
--

CREATE SEQUENCE public.n8n_chat_histories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.n8n_chat_histories_id_seq OWNER TO midas;

--
-- Name: n8n_chat_histories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: midas
--

ALTER SEQUENCE public.n8n_chat_histories_id_seq OWNED BY public.n8n_chat_histories.id;


--
-- Name: subjects; Type: TABLE; Schema: public; Owner: midas
--

CREATE TABLE public.subjects (
    code character varying NOT NULL,
    name character varying
);


ALTER TABLE public.subjects OWNER TO midas;

--
-- Name: teacher_subjects; Type: TABLE; Schema: public; Owner: midas
--

CREATE TABLE public.teacher_subjects (
    teacher_id integer NOT NULL,
    subject_code character varying NOT NULL
);


ALTER TABLE public.teacher_subjects OWNER TO midas;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: midas
--

CREATE TABLE public.teachers (
    id integer NOT NULL,
    name character varying
);


ALTER TABLE public.teachers OWNER TO midas;

--
-- Name: teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: midas
--

CREATE SEQUENCE public.teachers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teachers_id_seq OWNER TO midas;

--
-- Name: teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: midas
--

ALTER SEQUENCE public.teachers_id_seq OWNED BY public.teachers.id;


--
-- Name: user_subjects; Type: TABLE; Schema: public; Owner: midas
--

CREATE TABLE public.user_subjects (
    user_id integer NOT NULL,
    subject_code character varying NOT NULL
);


ALTER TABLE public.user_subjects OWNER TO midas;

--
-- Name: users; Type: TABLE; Schema: public; Owner: midas
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying,
    name character varying,
    phone character varying
);


ALTER TABLE public.users OWNER TO midas;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: midas
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO midas;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: midas
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: mensajes id; Type: DEFAULT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.mensajes ALTER COLUMN id SET DEFAULT nextval('public.mensajes_id_seq'::regclass);


--
-- Name: mensajes_enviados id; Type: DEFAULT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.mensajes_enviados ALTER COLUMN id SET DEFAULT nextval('public.mensajes_enviados_id_seq'::regclass);


--
-- Name: n8n_chat_histories id; Type: DEFAULT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.n8n_chat_histories ALTER COLUMN id SET DEFAULT nextval('public.n8n_chat_histories_id_seq'::regclass);


--
-- Name: teachers id; Type: DEFAULT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.teachers ALTER COLUMN id SET DEFAULT nextval('public.teachers_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: mensajes; Type: TABLE DATA; Schema: public; Owner: midas
--



--
-- Data for Name: mensajes_enviados; Type: TABLE DATA; Schema: public; Owner: midas
--

COPY public.mensajes_enviados (id, mensaje_id, user_id, fecha_envio) FROM stdin;
1	3	8	2025-12-09 22:15:53.938+00
2	4	8	2025-12-10 10:41:25.084+00
3	4	9	2025-12-10 10:41:25.084+00
4	5	8	2025-12-12 16:36:25.816+00
5	5	9	2025-12-12 16:36:25.816+00
\.


--
-- Data for Name: n8n_chat_histories; Type: TABLE DATA; Schema: public; Owner: midas
--



--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: midas
--

COPY public.subjects (code, name) FROM stdin;
IYA023	Bases de Datos I
IYA025	Estructuras de Datos y Algoritmos I
IYA022	Redes de Ordenadores
CSJ038	Estad├¡stica I
IYA028	Matem├ítica Num├®rica
\.


--
-- Data for Name: teacher_subjects; Type: TABLE DATA; Schema: public; Owner: midas
--

COPY public.teacher_subjects (teacher_id, subject_code) FROM stdin;
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: midas
--

COPY public.teachers (id, name) FROM stdin;
\.


--
-- Data for Name: user_subjects; Type: TABLE DATA; Schema: public; Owner: midas
--

COPY public.user_subjects (user_id, subject_code) FROM stdin;
8	IYA025
8	CSJ038
8	IYA023
8	IYA028
8	IYA022
9	IYA023
9	IYA025
9	IYA022
9	CSJ038
9	IYA028
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: midas
--

COPY public.users (id, email, name, phone) FROM stdin;
8	javier.liano@alumnos.uneatlantico.es	Javier Lia├▒o Rioz	34622211246
9	bienvenido.doalto@alumnos.uneatlantico.es	Bienvenido Doalto Cavada	34693788191
\.


--
-- Name: mensajes_enviados_id_seq; Type: SEQUENCE SET; Schema: public; Owner: midas
--

SELECT pg_catalog.setval('public.mensajes_enviados_id_seq', 5, true);


--
-- Name: mensajes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: midas
--

SELECT pg_catalog.setval('public.mensajes_id_seq', 5, true);


--
-- Name: n8n_chat_histories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: midas
--

SELECT pg_catalog.setval('public.n8n_chat_histories_id_seq', 38, true);


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: midas
--

SELECT pg_catalog.setval('public.teachers_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: midas
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: mensajes_enviados mensajes_enviados_mensaje_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.mensajes_enviados
    ADD CONSTRAINT mensajes_enviados_mensaje_id_user_id_key UNIQUE (mensaje_id, user_id);


--
-- Name: mensajes_enviados mensajes_enviados_pkey; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.mensajes_enviados
    ADD CONSTRAINT mensajes_enviados_pkey PRIMARY KEY (id);


--
-- Name: mensajes mensajes_pkey; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.mensajes
    ADD CONSTRAINT mensajes_pkey PRIMARY KEY (id);


--
-- Name: n8n_chat_histories n8n_chat_histories_pkey; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.n8n_chat_histories
    ADD CONSTRAINT n8n_chat_histories_pkey PRIMARY KEY (id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (code);


--
-- Name: teacher_subjects teacher_subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.teacher_subjects
    ADD CONSTRAINT teacher_subjects_pkey PRIMARY KEY (teacher_id, subject_code);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: user_subjects user_subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.user_subjects
    ADD CONSTRAINT user_subjects_pkey PRIMARY KEY (user_id, subject_code);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_subjects_code; Type: INDEX; Schema: public; Owner: midas
--

CREATE INDEX ix_subjects_code ON public.subjects USING btree (code);


--
-- Name: ix_subjects_name; Type: INDEX; Schema: public; Owner: midas
--

CREATE INDEX ix_subjects_name ON public.subjects USING btree (name);


--
-- Name: ix_teachers_id; Type: INDEX; Schema: public; Owner: midas
--

CREATE INDEX ix_teachers_id ON public.teachers USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: midas
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: midas
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: mensajes_enviados mensajes_enviados_mensaje_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.mensajes_enviados
    ADD CONSTRAINT mensajes_enviados_mensaje_id_fkey FOREIGN KEY (mensaje_id) REFERENCES public.mensajes(id) ON DELETE CASCADE;


--
-- Name: mensajes_enviados mensajes_enviados_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.mensajes_enviados
    ADD CONSTRAINT mensajes_enviados_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: teacher_subjects teacher_subjects_subject_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.teacher_subjects
    ADD CONSTRAINT teacher_subjects_subject_code_fkey FOREIGN KEY (subject_code) REFERENCES public.subjects(code);


--
-- Name: teacher_subjects teacher_subjects_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.teacher_subjects
    ADD CONSTRAINT teacher_subjects_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: user_subjects user_subjects_subject_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.user_subjects
    ADD CONSTRAINT user_subjects_subject_code_fkey FOREIGN KEY (subject_code) REFERENCES public.subjects(code);


--
-- Name: user_subjects user_subjects_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: midas
--

ALTER TABLE ONLY public.user_subjects
    ADD CONSTRAINT user_subjects_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict fn3H3wwFq7YXWOCRORxTYJ5D3wWXt53JLEjg8aUn1xQru5ZUugAUhRCnhLHFsdc

